/**
* author: Francisco Coya
* version: v1.0.0
* description: Estilos para los distintos estilos de los botones.
*/

// --------------------------------------
// Estilos globales para un botón base (BaseButton)
// --------------------------------------

@mixin baseButton {
  width: $base-button-width;
  height: $base-button-height;
  border-radius: $button-border-radius;
  border: none;
  outline: none;
  cursor: pointer;
}

// Botón con fondo de color sólido.
@mixin baseButton--filled($background-color, $foregorund-color) {
  @include baseButton;
  background: $background-color;
  color: $foregorund-color;
}

// Botón con fondo trasnparente y borde de color.
@mixin baseButton--outlined($border-color, $foregorund-color) {
  @include baseButton;
  background: transparent;
  border: $base-button-border solid $border-color;
  color: $foregorund-color;
}

// Botones con fondo de color sólido.

.baseButton-primary--filled {
  @include baseButton--filled($color-primary, #fff);

  &:disabled {
    background: $color-tertiary-light;
    color: gray;
  }
}

.baseButton-primary--filled--small {
  @include baseButton--filled($color-primary, #fff);
  width: 90px;
  height: 35px;
  font-size: 1rem;

  &:disabled {
    background-color: $color-tertiary-light;
    color: gray;
    cursor: no-drop;
  }
}

.baseButton-primary--outlined--small {
  @include baseButton--outlined($color-primary, $color-primary);
  width: 90px;
  height: 35px;
  font-size: 0.8rem;
  transition: all 0.2s ease;

  &:hover {
    background: $color-primary;
    color: #fff;
  }

  &:disabled {
    background-color: $color-tertiary-light;
    color: gray;
    cursor: no-drop;
  }
}

.baseButton-secondary--filled {
  @include baseButton--filled($color-secondary, #fff);
}

// Botones con fondo en degradado.

.baseButton-primary-gradient--filled {
  @include baseButton--filled($linear-gradient-primary, #fff);
}

.baseButton-secondary-gradient--filled {
  @include baseButton--filled($linear-gradient-secondary, #fff);
}

// Botones con fondo transparente y borde de color.
.baseButton-primary--outlined {
  @include baseButton--outlined($color-primary, $color-primary);
  transition: background-color 0.2s ease;

  &:hover {
    background: $color-primary;
    color: #fff;
  }
}

.baseButton-secondary--outlined {
  @include baseButton--outlined($color-secondary, $color-secondary);

  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-secondary;
    color: #fff;
  }
}

// Boton con fondo oscuro
.baseButton-dark--filled {
  @include baseButton--filled($color-dark, #fff);
}

.baseButton-dark--filled--small {
  @include baseButton--filled($color-dark, #fff);
  width: 80px;
  height: 35px;
  font-size: 1rem;

  &:disabled {
    background-color: $color-tertiary-light;
    color: gray;
    cursor: no-drop;
  }
}

.baseButton-dark--outlined {
  @include baseButton--outlined($color-dark, $color-dark);
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-dark;
    color: #fff;
  }
}

.baseButton-dark--outlined--small {
  @include baseButton--outlined($color-dark, $color-dark);
  width: 80px;
  height: 35px;
  font-size: 12px;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-dark;
    color: #fff;
  }
}

// Blanco
.baseButton-white--filled {
  @include baseButton--filled(#fff, $color-dark);
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  border: 2px solid #fff;
  color: #000;
  font-weight: 500;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #fff;

    box-shadow: $global-box-shadow;
  }
}

// Boton danger

.baseButton-danger--filled {
  @include baseButton--filled($color-danger, #fff);
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-danger;
    color: #fff;
  }

  &:disabled {
    background: $color-tertiary-dark;
    color: gray;
    cursor: not-allowed;
  }
}

.baseButton-danger--filled--small {
  @include baseButton--filled($color-danger, #fff);
  width: 80px;
  height: 35px;
  font-size: 1rem;

  &:disabled {
    background-color: $color-tertiary-light;
    color: gray;
    cursor: no-drop;
  }
}

.baseButton-danger--outlined--small {
  @include baseButton--outlined($color-danger, $color-danger);
  width: 80px;
  height: 35px;
  font-size: 12px;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-danger;
    color: #fff;
  }
}

// Estilos botón cerrar diálogos modales.
.baseButton-close--filled {
  @include flex-row-center;
  width: 30px;
  height: 30px;
  padding: 17px;
  border: none;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  border-radius: 100%;

  &:hover {
    background: $color-tertiary-dark;
    color: $color-dark;
  }
}

.baseButton-success--outlined--small {
  @include baseButton--outlined($color-success, $color-success);
  width: 80px;
  height: 35px;
  font-size: 12px;
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: $color-success;
    color: #fff;
  }
}

// --------------------------------------
// Estilos globales para un botón con icono (IconButton)
// --------------------------------------

@mixin iconButton--rounded {
  @include baseButton;
  // width: $base-button-width;
  // height: $base-button-height;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
}

@mixin iconButton--rounded--outlined($border-color, $foregorund-color) {
  @include iconButton--rounded;
  @include flex-row-center;
  background: transparent;
  border: $base-button-border solid $border-color;
  color: $foregorund-color;
}

@mixin iconButton--rounded--outlined-small {
  @include iconButton--rounded--outlined($color-primary, $color-primary);
  width: 120px;
  height: 35px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.iconButton-primary--outlined {
  outline: none;
  border: none;
  background-color: $color-primary;
  color: #fff;
  border-radius: $global-border-radius;

  & > img {
    filter: invert(1);
  }

  & > p {
    color: #fff;
  }
}

.iconButton-primary-rounded--outlined {
  @include iconButton--rounded--outlined($color-primary, $color-primary);
}

.iconButton-primary--outlined .iconButton-primary--outlined-small {
  @include iconButton--rounded--outlined-small;
}

// Estilos para los botones con icono de las acciones de editar, eliminar... de un alojamiento
.iconButton-accomodation-action {
  outline: none;
  border: none;
  background-color: $color-tertiary-light;
  padding: 5px;
  border-radius: 10px 5px 5px 20px;
  transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);

  & > img {
    filter: invert(20%);
  }

  &:hover {
    background-color: $color-tertiary-dark;
    box-shadow: $global-box-shadow;
  }
}

.iconButton-accomodation-action--delete {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 10px 5px 5px 20px;
  background-color: $color-danger;

  & > img {
    filter: invert(1);
  }
}

// Estilos botón atrás - Mobile
.iconButton-return {
  @include flex-row-center;
  width: 40px;
  height: 40px;
  outline: none;
  border: none;
  // border: 2px solid $color-dark;
  margin: 20px 0 0 20px;
  background: #fff;
  border-radius: 50%;
  // box-shadow: $global-box-shadow;
  z-index: $z-index-4;
  transition: all 0.1s ease-in;

  & > img {
    width: 12px;
  }

  & > p {
    display: none;
  }

  &:hover {
    background-color: $color-tertiary-light;
  }
}

// Estilos botones selección número de elementos en la ventana de filtros.

.filter_number_selector_button,
.filter_number_selector_button--delete,
.filter_number_selector_button__all {
  padding: 10px 20px;
  // background-color: $color-tertiary-light;
  border: 1px solid $color-tertiary-dark;
  border-radius: $global-border-radius;
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: $color-tertiary-dark;
  }
}

.filter_number_selector_button--delete {
  background-color: $color-danger;
  color: #fff;
  &:hover {
    background-color: $color-danger;
  }
}

.filter_number_selector_button.--filter-button-active {
  background-color: $color-dark;
  color: #fff;
}

.filter_number_selector_button__all {
  background-color: $color-dark;
  color: #fff;

  &:hover {
    background-color: $color-dark;
  }
}

.filter_number_selector_button__all.--no-show-all-active {
  background-color: transparent;
  border: 1px solid $color-tertiary-dark;
  color: $color-dark;
}
