@import '_variables.scss';

@mixin base-input {
  outline: none;
  font-size: $input-fontSize;
}

.base-input-no-border {
  @include base-input;
  background-color: #ffffff;
  color: $color-dark;
  border: none;
  border-radius: $global-border-radius;
  padding: 10px 5px 0px 5px;
  height: 50px;
}

.base-input {
  @include base-input;
  height: 50px;
  width: fit-content;
  background-color: #ffffff;
  color: $color-dark;
  border: 2px solid $color-tertiary-light;
  border-radius: $global-border-radius;
  padding: 5px;
}

// Estilos textareas
.base-textarea {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: $color-dark;
  border: 2px solid $color-tertiary-light;
  border-radius: $global-border-radius;
  padding: 5px;
  height: 30px;
  font-size: $input-fontSize;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  width: 100%;
  max-width: 100%;
  height: 50px;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0 0 5px;
  border: 2px solid $color-tertiary-light;
  border-radius: $global-border-radius;
  color: $color-dark;
  outline: none;
  cursor: pointer;

  & > option {
    padding: 10px 0;
  }
}
