$color: red;

// Paleta de colores
$color-primary: #034c5f;
$color-primary-light: #97bec6;
$color-primary-dark: #0d353f;
$color-secondary: #f5562a;
$color-secondary-light: #f9c4ba;
$color-tertiary-light: #f0f0f0;
$color-dark: #222222;

// Degradados
$linear-gradient-primary: linear-gradient(
  267.05deg,
  $color-primary 11.77%,
  $color-primary-light 130.16%
);
$linear-gradient-secondary: linear-gradient(
  267.05deg,
  $color-secondary 11.77%,
  #f78568 62.33%,
  $color-secondary-light 130.16%
);

// TODO: Tamaño relativo para dispositivos móviles
$heading-1-fontSize: 35px;
$heading-2-fontSize: 24px;
$heading-3-fontSize: 16px;
$paragraph-fontSize: 14px;
$link-fontSize: 14px;
$button-fontSize: 18px;
$input-fontSize: 14px;

// General
$global-border-radius: 10px;

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-header: 4;

// --------------------------------------------------

// Buttons
$button-border-radius: $global-border-radius;

// -- Base button
$base-button-width: 175px;
$base-button-height: 50px;
$base-button-border: 2px;

// Icon buttons

// Header

// - Altura del header
$header-height: 90px;
