// Paleta de colores
$color-primary: #034c5f;
$color-primary-light: #97bec6;
$color-primary-dark: #0d353f;
// $color-secondary: #f5562a;
$color-secondary: #DB380A;
$color-secondary-light: #f9c4ba;
$color-tertiary-light: rgb(240, 240, 240);
$color-tertiary-dark: rgb(221, 221, 221);
$color-dark: rgb(34, 34, 34);
$color-danger: rgb(216, 54, 54);
$color-danger-light: rgb(255, 208, 208);
$color-warning: rgb(255, 204, 0);
$color-warning-light: rgb(255, 247, 204);
$color-success: rgb(54, 216, 54);
$color-success-light: rgb(208, 255, 208);

// Degradados
$linear-gradient-primary: linear-gradient(
  267.05deg,
  $color-primary 11.77%,
  $color-primary-light 130.16%
);
$linear-gradient-secondary: linear-gradient(
  267.05deg,
  $color-secondary 11.77%,
  #f78568 62.33%,
  $color-secondary-light 130.16%
);

// TODO: Tamaño relativo para dispositivos móviles
$heading-1-fontSize: 35px;
$heading-2-fontSize: 24px;
$heading-3-fontSize: 16px;
$paragraph-fontSize: 14px;
$link-fontSize: 14px;
$button-fontSize: 18px;
$input-fontSize: 14px;

// General
$global-border-radius: 10px;
$global-box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

// z-index
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;
$z-index-header: 6;
$z-index-modal: 7;

// --------------------------------------------------

// Buttons
$button-border-radius: $global-border-radius;

// -- Base button
$base-button-width: 175px;
$base-button-height: 50px;
$base-button-border: 2px;

// Icon buttons

// Header

// - Altura del header
$header-height: 90px;

// Breakpoints pantallas
$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;
